/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common styles */
body{
    font-family: 'Poppins', sans-serif;
}
.panda-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border-radius: 8px;
    padding: 9px 25px;
    color: white;
    border: none;
}
.panda-btn:hover{
    background-image: linear-gradient(to bottom, rgb(255, 174, 0), red);
    color: white;
}

/* navbar styles */
.nav-color{
    background-color: rgb(4, 4, 73);
}
nav ul li a{
    border-radius: 15px;
}
nav ul li a:hover{
    background-color: #FF136F;;
}

/* banner styles */
.asnil-color{
    color: #FF136F;
}
.asnil-bgcolor{
    background-color: #fceae8;
}