/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common styles */
body{
    font-family: 'Poppins', sans-serif;
}
.asnil-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border-radius: 10px;
    padding: 10px 25px;
    color: white;
    border: none;
}
.asnil-btn:hover{
    background-image: linear-gradient(to bottom, rgb(255, 174, 0), red);
    color: white;
}
.asnil-special-color{
    color: #FA804C;
    line-height: 60px;
}
.section-title{
    font-weight: 700;
    color: #FF136F;
    text-align: center;
}

/* navbar styles */
.nav-color{
    background-color: rgb(4, 4, 73);
}
nav ul li a{
    border-radius: 15px;
}
nav ul li a:hover{
    background-color: #FF136F;;
}

/* banner styles */
.asnil-color{
    color: #FF136F;
}
.asnil-bgcolor{
    background-color: #fceae8;
}

/* partner section */
.partners{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 70px auto 100px;
    border: 1px solid;
    border-image: linear-gradient(to right,rgb(255, 255, 255), rgba(126, 126, 124, 0.226), white);
    border-image-slice: 1;
    padding: 20px;
}
.partner-logo{
    margin: 10px 15px;
}

/* card styles */
.card-img-container{
    background-color: #F1F1F1;
}
.asnil-round{
    border-radius: 20px;
}
.heading{
    color: #363958;
    font-weight: 700;
}
.price{
    font-weight: 900;
    font-size: 36px;
    margin: 0;
}
.cart-logo{
    height: 20px;
    width: 20px;
    margin-right: 8px;
}